<% if user_signed_in? %>
  <%= link_to "Log Out", destroy_user_session_path, :method => :delete, id: "sign_in_link" %> 
<% else %>
  <%= link_to "Sign In", new_user_session_url, id: "sign_in_link" %> 
  
  <%= link_to "Sign Up", new_user_registration_url, id: "sign_in_link" %> 
<% end %>


<%= render "welcome" %>

<ul>
  <% @posts.each do |post| %>
    <div class='post'>
      <li>
        <%= post.body %>
        <% if user_signed_in? %>  
          <div class = 'poster'>    
            <%= "Author: #{post.user.name}" %>
            <br>
            <%= "Created at: #{post.created_at.strftime('%m/%d/%Y %H:%M:%S')}"%>
          </div>
        <% end %>
      </li>
    </div>
  <% end %>
</ul>


<%= link_to "New Post", new_post_path,  class: "link_button" %>

<%= stylesheet_link_tag 'posts' %>
