<%= link_to "Sign In", new_user_session_url, id: "sign_in_link" %> 

<%= render "welcome" %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.body %>
      <% if user_signed_in? %>      
        <%= post.user.name%>
      <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "New Post", new_post_path,  class: "link_button" %>

<%= stylesheet_link_tag 'posts' %>
